<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Name}}'s DashBoard</title>
    <link rel="stylesheet" href="web/static/css/style.css">
</head>
<body>
    <div>
        <div class="small-logo">
            <h2><a href="/">Todo Calendar</a></h2>
        </div>
        <div class="user_profile">
            <h3> {{.Name}} 님</h3>
            <h4><a href="/logout">로그아웃</a></h4>
        </div>
    </div>
    <div class="logo">DashBoard</div>

    <div class="container">
        <h2 style="flex: 3; text-align: end;">◁</h2>
        <h2 style="flex: 1; text-align: center;">2021-07-09</h2>
        <h2 style="flex: 3; text-align: start;">▷</h2>
    </div>
    <div class="container">
        <h1 style="flex: 1; padding-left: 2em;">Done</h1>
        <h1 style="flex: 1; padding-left: 2em;">Doing</h1>
        <h1 style="flex: 1; padding-left: 2em;">Todo</h1>
    </div>
    <div class="container">
        <div class="box">    
        </div>
        <div class="box">
        </div>
        <div class="box">
        </div>
    </div>

    <div class="center">
    <p> -ID : {{.ID}}</p>
    <p> -Password : {{.Password}}</p>
    <p> -Created : {{.CreatedAt}}</p>
    <p> -Name : {{.Name}}</p>
    </div>
</body>
</html>