
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.UserID}}'s DashBoard</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    {{$date := .Date}}
    {{$uid := .UserID}}
    <div>
        <div class="small-logo">
            <h2><a href="/">my Little<br>task manager</a></h2>
        </div>
        <div class="user_profile">
            <h3> {{$uid}} 님</h3>
            <h4><a href="/logout">로그아웃</a></h4>
        </div>
    </div>
    <div class="logo">Daily Task</div>

    <div class="container">
        <h2 style="flex: 3; text-align: end;">◁</h2>
        <h2 style="flex: 1; text-align: center;">{{$date}}</h2>
        <h2 style="flex: 3; text-align: start;">▷</h2>
    </div>
    <div class="container">
        <h1 style="flex: 1; padding-left: 1em;">Done</h1>
        <h1 style="flex: 1; padding-left: 1em;">In progress</h1>
        <h1 style="flex: 1; padding-left: 1em;">Todo</h1>
    </div>
    <div class="container">
        
        {{template "doneBox" .Done}}
        {{ template "inProgressBox" .InProgress}}
        {{ template "toDoBox" .ToDo}}
    </div>

    <script src="static/js/autoresize.js"></script>
    <script src="static/js/handleForm.js"></script>
    <script src="static/js/edditButton.js"></script>
</body>
</html>
