{{define "doneBox"}}

<div class="box">  
    {{ range .List}}
    {{ template "card" .}}

    {{end}}

    <form action="/lists" method="post" id="done_form" class="invisible">
        <div class="card">
            <div class="title">
                <input type="text" name="title" id="">
            </div>
            <div class="content">
                <textarea name="content" onkeydown="resize(this)" onkeyup="resize(this)"></textarea>
            </div>
                <input type="hidden" name="user_id" value="{{.UserID}}">
                <input type="hidden" name="state" value="Done">
                <div class="btnBox">
                    <button type="submit" class="submitButton"></button>
                    <button type="button" id="doneCancel" class="cancelButton"></button>
                </div>
        </div>
    </form>

    <div class="footer addCard" id="doneAddCard" class="addCard">
        + add card
    </div>

</div>

{{end}}