<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Revigator</title>
    <link rel="stylesheet" href="web/static/css/style.css">
</head>
<body>
    <div class="logo">
        <h2><a href="/">Revigator</a></h2>
    </div>
    <form class = "input" action="" method="post">
        <h4> ID: <input type="text" name="id" id="id"> </h4>
        <h4> PASSWORD: <input type="password" name="password" id="pw"> </h4>
        {{if .error}}
        <h5 class="fail"> {{.error.Message}}</h5>
        {{end}}
        <button type="button" onclick="location.href='/signup'">회원가입</button>
        <input type="submit" value="로그인">
    </form>

    <script src="web/static/js/login.js"></script>
</body>
</html>