{{define "toDoBox"}}

<div class="box">  
    {{ range .List}}
        {{template "card" .}}
    {{end}}
    
    <form action="/lists" method="post" id="todo_form" class="invisible">
        <div class="card">
            <div class="title">
                <input type="text" name="title" id="">
            </div>
            <div class="content">
                <textarea name="content" onkeydown="resize(this)" onkeyup="resize(this)"></textarea>
            </div>
                <input type="hidden" name="user_id" value="{{.UserID}}">
                <input type="hidden" name="state" value="ToDo">
                <div class="btnBox">
                    <button type="submit" class="submitButton"></button>
                </div>
        </div>
    </form>
    
    <div class="footer addCard" id="toDoAddCard" class="addCard">
        + add card
    </div>

</div>

{{end}}