/* 
h2{
    margin-block-end: 1em;
} */

a{
    text-decoration: none;
}
a:link{color:696464;}
a:visited{color: 696464;}

ul{
    margin-left: 2em;
}

li {
    text-align: left;
}
body{
    /* font-family: Arial, sans-serif;
    */
    min-width: 1468px;
    font-family: Consolas, sans-serif;;
    /* background-color:rgb(28, 33, 39); */
    /* color: rgb(224, 231, 238); */
    background-color: FAF6E9;
    color: 494949;
}

textarea{
    height: min-content;
}

.input{
    text-align: center;
}

.container{
    display: flex;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.box{
    border-radius: 1em;
    margin: 1em;
    flex: 1;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
    background-color: ECE8D9;
    position: relative;
    height: fit-content;
}

.card{
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 1em;
    min-height: 5em;
    background-color: cornsilk;
    margin-bottom: 1.3em;
    /* color: A19882; */
    text-align: left;
    /* padding-left: 3%; */
    /* padding-right: 3%; */
    /* padding-top: 0.5em; */
    width: 86%;
    height: fit-content;

    
}
.card .title{
    height: fit-content;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    font-size: 1em;
    font-weight: bold;
    background-color:C2B8A3;
}

.title input{
    border: none;
    width: 14em;
    background: transparent;
    font-size: 1em;
    font-weight: bold;    
    font-family: Consolas, sans-serif;
    color: 494949;

    /* line-height: 25px; */
}

.title input:focus{
    outline: none ;
    border-top: none;
    border-left: none;
    border-right: none;
}

.content textarea{
    border: brown;
    border: none;
    background: transparent;
    outline: none;
    resize: none;
    height: 100%;
    overflow: hidden;
    min-height: 3em;


    font-size: 1em;

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;    
    font-family: Consolas, sans-serif;

}


.card .content{
    padding-left: 3%;
    min-height: 3em;
    font-size: 1em; 
    height: auto;
}

.invisible{
    display: none;
}

.footer{
    text-align: left;
    padding-left: 1.6em;
    padding-bottom: 1em;
    position: absolute;
    bottom: 0;
}

.logo{

    font-style:inherit;
    text-align: center;
    width: 40%;
    font-size: 70px;
    padding-left: 30%;
    padding-right: 30%;
    opacity: 100%;
    color: 696464;
    
    /* color:ivory; */
    display: inline-block;
    margin-block-end: 0em;
}

.small-logo{
    font-style:inherit;
    text-align: left;
    width: 40%;
    font-size: 1em;
    padding-left: 5%;
    padding-right: 5%;
    opacity: 100%;
    /* color:ivory; */
    color: 696464;
    float: left;
    /* display: block; */
    margin-block-end: 0em;
}

.user_profile{
    font-style:inherit;
    text-align: right;
    width: 40%;
    font-size: 1em;
    padding-left: 5%;
    padding-right: 5%;
    opacity: 100%;
    /* color:ivory; */
    color: 696464;
    float: left;
    /* display:block; */
    margin-block-end: 0em;
}

.center{
    text-align: center;
}

.fail {
    /* opacity: 0%; */
    color: deeppink;
}

.submit{
    
    margin-left: 85%;
    margin-bottom: 1em;
    background-color: 81B214;
}

.deleteButton, .editButton, .submitButton, .cancelButton{
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: none;
    cursor:pointer;
}

.deleteButton, .cancelButton{
    background-color: CE1212;
}

.editButton{
    background-color: 005A8D;
}

.submitButton{
    background-color: 81B214;
}

.btnBox{
    padding-right: 1em;
    padding-bottom: 0.5em;
    
    /* margin-right: 0.5em; */
    /* margin-bottom: 1em; */
    text-align: end;
}

.addCard{
    cursor: pointer;
}